# Requirements for U-Net_2D_Multilabel_ZeroCostDL4Mic.ipynb
IPython
Pillow
bioimageio
builtins
csv
datetime
fpdf
future
glob
ipywidgets
math
matplotlib
numexpr
numpy
os
pandas
pathlib
pip
random
requests
scikit-image
scikit-learn
scipy
shutil
subprocess
sys
tensorflow
time
tqdm
warnings
zipfile
